/* Do not add any css, this is a bootstrap only assignment  */
#myCarousel{
    width: 100%;
	margin: auto;
}

/* Style the slides */
.first-slide,
.second-slide,
.third-slide,
.fourth-slide,
.fifth-slide {
    /* Add your slide-specific styles here */
  color:#2D2D2D;
    padding: 130px;
	font-wieght:30px;
	font-size:40px;
    text-align: center;
    min-height: 300px;
}